{% load static %}<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <title>Latest Data</title>

  <style>
    /*
    .centralize-div {
      display: flex !important;
      justify-content: center !important;
    }
    */

    {% comment %}
      https://htmx.org/examples/animations/
    {% endcomment %}
    .attendees.htmx-added {
      opacity: 0;
    }
    .attendees {
      opacity: 1; 
      transition: opacity 3s ease-out;
      color: purple;
    }
    .left-edge {
      margin-left: 0!important;
      margin-right: 0!important;
    }
    .list-group-item {
      color: purple;
    }
  </style>


</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Latest Data</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">{{ current_datetime }}</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  {% comment %}
    https://htmx.org/examples/animations/
  {% endcomment %}
  <div class="container left-edge">
    <div class="callout">Number of attendees</div>
    <div class="attendees" hx-get="/latest-data/attendees/" hx-trigger="load delay:1s" hx-swap="outerHTML settle:100ms">
      <img  alt="Result loading..." width="50" src="{% static 'bars.svg' %}"/>
    </div>
  </div>

  <div class="container left-edge">
    <div class="callout">Number of attendees: Take two</div>
    <div class="attendees" hx-get="/latest-data/attendees/" hx-trigger="load delay:2s" hx-swap="outerHTML settle:100ms">
      <img  alt="Result loading..." width="50" src="{% static 'bars.svg' %}"/>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
  <script src="https://unpkg.com/htmx.org@1.6.0"></script>

</body>
</html>

<!---
# vim: ai et ts=2 sw=2 sts=2 nu
-->
