{% load static %}<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <title>Latest Data</title>

</head>

<body>

  <style>
    .centralize-div {
      display: flex !important;
      justify-content: center !important;
    }
    /*
    .htmx-settling img, .partial {
      opacity: 0;
    }
    img, .partial {
     transition: opacity 300ms ease-in;
    }
    */
    div.partial {
      transition: all ease-in 30s;
      color: red;
    }
  </style>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Latest Data</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">{{ current_datetime }}</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="callout">Number of attendees</div>
    <div hx-get="/latest-data/attendees/" hx-trigger="load">
      <img  alt="Result loading..." class="xhtmx-indicator" width="150" src="{% static 'bars.svg' %}"/>
  </div>
  {% comment %}
  {% endcomment %}


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
  <script src="https://unpkg.com/htmx.org@1.6.0"></script>

</body>
</html>

<!---
# vim: ai et ts=2 sw=2 sts=2 nu
-->
